@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #15181B;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  }
  
  .carousel-container .slick-slide:first-child {
    transform: translateX(-50%); 
  }
  
  .marquee {
    rotate:90deg;
    white-space: nowrap;
    animation: marquee 15s linear infinite; 
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); } 
    100% { transform: translateX(-100%); } 
  }
  @keyframes widthAnimation {
    0% {
      width: 100%; /* Initial width */
    }
    100% {
      width: 0%; /* Decreased width */
    }
  }
  